#avatar{
    background-image: url("../../png/avatar.png");
    padding: 0;
}
button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
span{
    display: flex;
    justify-content: space-between;
}