
<h1>Разработчики проекта</h1>
<div class="bigdiv">

    <div id="table">
        <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Василиса</td>
                <td>vas@gmail.com</td>
                <td>администратор</td>
                <td>
                    <div class="buttons">
                        <button id="del" class="buttontable"></button>
                        <button id="red" class="buttontable"></button>
                    </div>
                </td>

            </tr>
            
        </tbody>
    </table>
    </div>

    <div id="minwind">
        <h1>Добавить разработчика:</h1>
  
            <span class="input" appearance="fill">
                <label>Имя</label>
                <input>
            </span>
            <span class="input" appearance="fill">
                <label>Email</label>
                <input>
            </span>
            <span class="input" appearance="fill">
                <label>Роль</label>
                <select >
                    <option value="admin">администратор</option>
                    <option value="manager">менеджер</option>
                  </select>
                </span>
        <div id="button"><button>Добавить</button></div>
    </div>

</div>
