<header id="header">
    <span class="path-site">
        <mat-icon id="icon">home</mat-icon>
        <label class="text">Название</label>
    </span>
    <span class="path-site">
        <mat-icon id="icon-yarn">shopping_cart</mat-icon>
        <mat-icon id="icon-lk">person</mat-icon>
    </span>
</header>
<div id="poisk">
    <span><input><button>поиск</button></span>
</div>
<div id="content">
    <nav id="catalog">
        <label id="label-catalog">Каталог</label>
        <ul>
            <li style="background-color: rgba(0, 0, 0, 0.125);">каталог 1</li>
            <li>каталог 2</li>
            <li>каталог 3</li>
            <li>каталог 4</li>
            <li>каталог 5</li>
            <li>каталог 6</li>
            <li>каталог 7</li>
        </ul>
    </nav>
    <section id="tovars">
        <div id="label-tovar">Каталог 1</div><br>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>
        <div class="kartochka">
            <div class="photo"></div>
            <label>Название товара очень длинное</label><br>
            <span id="addinyard">
                <label>Цена</label>
                <button>В корзину</button>
            </span>

        </div>

    </section>
    <div id="filters">
        <label id="label-filter">Фильтры</label>
        <label>фильтр 1</label>
        <mat-slider class="example-margin" [disabled]=false>
            
            <input matSliderThumb>
        </mat-slider>
        <label>фильтр 2</label>
        <mat-slider class="example-margin" [disabled]=false>
            
            <input matSliderThumb>
        </mat-slider>
        <label>фильтр 3</label>
        <mat-slider class="example-margin" [disabled]=false>
            
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>
<footer id="footer">
    <label id="label-footer">список контактов</label>
</footer>