<div class="div1">

    <div class="div2">
        <h1>Выбери домен:</h1>
        <div class="div3">
            <p style="font-size: 13px; text-align: start;">Простыми словами, домен - это имя и адрес сайта. Но на деле, это его идентификация, 
                опознавательный знак. Доменное имя является маркетинговым инструментом, способное сложить впечатление 
                у потенциального клиента о компании. Только лишь увидев или услышав адрес сайта, пользователь может 
                решить, заходить ему на страницу или нет. Поэтому домен должен быть уникальным: простым и запоминающимся,
                 но при этом раскрывать суть содержания и посыл веб-сайта.</p>
            <p style="font-size: 13px; text-align: start;margin-bottom: 18px; margin-top: 4px;">Чтобы доменное имя стало инструментом продвижения, необходимо тщательно продумать его. Придумывать его следует таким,
                 чтобы оно отложилось в памяти, было не сложным и простых на слух. Самое простой и эффективный способ - это в 
                 качестве доменного имени применять название бренда, который проранжируется поисковиком и будет участвовать в 
                 навигационном поиске</p>
            <mat-form-field class="inputt" appearance="fill">
                <mat-label>Домен</mat-label>
                <input matInput>
            </mat-form-field>

            <button class="button" routerLink="/selectshablon">Продолжить</button>

        </div>


    </div>
</div>
<div class="pic">
    <div id="smallcat"></div>
</div>
<div class="pic2">
    <div id="yard" [matMenuTriggerFor]="menu">
        <h1 id="sq">?</h1>
    </div>
</div>
<mat-menu #menu="matMenu">
    <p style="font-size: 11px; text-align: start; padding-top: 10px; padding-left: 10px;padding-right: 10px; margin-top: 0; ">
        Доменное имя состоит из нескольких слов, разделенные точками. 
        Количество слов определяет уровень и принадлежность сайта к определенному региону. 
        По традиции, ходовыми можно считать 4 уровня. Их может быть больше, но такое редко практикуется из-за сложности восприятия имени сайта. 
        <br>Уровни выглядят так:

        <br>google.ru - 2 уровень;
        <br>google.com.ru - 3 уровень;
        <br>mail.google.com.ru - 4.

        <br>Языковые и территориальные домены определяются двумя буквами. ru - Россия.
        <br>Если сайт имеет определенную тематику, то рекомендуется выбирать культурно-тематические доменные имена. com - для сайтов общего назначения. pro - сайтам, предлагающие услуги определенных специалистов.
        <br>Отдавайте предпочтение коротким словам, ведь чем проще имя сайта, тем его легче запомнить потенциальному клиенту.
         </mat-menu>