<span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
        <mat-icon id="menu" matBadge="25" matBadgeColor="warn"></mat-icon>
    </button>
</span>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>пункт 1</span>
    </button>
    <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>пункт 2</span>
    </button>
    <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>пункт 2</span>
    </button>
</mat-menu>