<h1>
    Выбор шаблона
</h1>
<div class="shablons">
    <div id="sh1" class="shablon" routerLink="/constructor">
        <div class="shsh"></div>
        <p class="pp">Шаблон 1</p>
    </div>
    <div id="sh2" class="shablon">
        <div class="shsh"></div>
        <p class="pp">Шаблон 2</p>
    </div>
    <div id="sh3" class="shablon">
        <div class="shsh"></div>
        <p class="pp">Шаблон 3</p>
    </div>
    <div id="sh4" class="shablon">
        <div class="shsh"></div>
        <p class="pp">Шаблон 4</p>
    </div>
</div>
<div class="back"></div>