<div class="div1">

    <div class="div2" >
        <h1>{{regauth()}}</h1>
        <div class="div3" [style.display]="auth ? 'block':'none'">
            <mat-form-field class="inputt" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="inputt"  appearance="fill">
                <mat-label>Пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button id="eyes" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
                <button class="button" routerLink="/userpage">Войти</button>

            
            <span id="span1">
                <p (click)="auth = !auth">Регистрация</p>
            </span>

        </div>
        <div [style.display]="auth ? 'none':'block'">
            <mat-form-field class="inputt" appearance="fill">
                <mat-label>Имя</mat-label>
                <input matInput>
            </mat-form-field>
            <div [style.display]="auth ? 'none':'block'">
                <mat-form-field class="inputt" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>

            <mat-form-field class="inputt"  appearance="fill">
                <mat-label>Пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button id="eyes" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="inputt"  appearance="fill">
                <mat-label>Повторите пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button id="eyes" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button class="button" routerLink="/selectdomen">Зарегистрироваться</button>
            <span id="span1">
                <p (click)="auth = !auth">Уже есть аккаунт</p>
            </span>

        </div>

    </div>
</div>
<div class="pic">
    <div id="smallcat"></div>
</div>
<div class="pic2">
    <div id="yard"></div>
</div>