<app-shapka></app-shapka>
<div id="div1">
    <span id="head">
        <h1>Создай свой собственный каталог товаров <br>и услуг</h1>
    </span>
    <p class="p1">MyCMS это бесплатная и современная платформа для создания индивидуального интернет - магазина.
        Cтруктура MyCMS очень простая. </p><p class="p1">На базе MyCMS можно создать интернет-магазина любой сложности. Регулируйте внешний вид
        своего приложения сами или выбирайте из существующих шаблонов.</p>
    <br>
    <p class="p2">С нами не запутаешься!</p>
    <nav class="span">
        <button class="button" routerLink="/regauth">Начать работу</button>
    </nav>
</div>

<div class="pic">
    <div id="smallcat"></div>
    <div id="bigcat"></div>
</div>
<div class="back"></div>
<router-outlet></router-outlet>