


<h1>Список каталогов</h1>
<div>
    <div class="div" routerLink="/catalog">
        <p>Учебные пособия </p>
        <button id="del" class="buttontable"></button>
        <button id="red" class="buttontable"></button>

    </div>
    <div class="div">    
        <p>Фэнтези</p> <button id="del" class="buttontable"></button>
        <button id="red" class="buttontable"></button>

    </div>
    <!--div class="div">
        <p>Каталог 3</p> <button id="del" class="buttontable"></button>
        <button id="red" class="buttontable"></button>
    </div-->
</div>

<p id="plus">+ добавить каталог </p>