<span id="h">
    <h1>Добавление товара</h1>
    <h2 routerLink="/catalog">Х</h2>
    <!--button id="plus" class="buttontable" ></button-->
</span>
<div id="bigdiv">

    <div id="photo">
        <div id="photos">
            <div id="minphoto2"></div>
            <div id="minphoto" class="plusphoto"></div>
        </div>
        <div id="mainphoto">
            <!--p>Добавить фото</p-->
        </div>
    </div>

    <div id="div2">
        <h1>Введите характеристики товара:</h1>
  
            <span class="input" appearance="fill">
                <label>Название товара</label>
                <input>
            </span>
            <span class="input" appearance="fill">
                <label>Цена</label>
                <input>
            </span>
            <span class="biginput">
                <label>Тэги товара</label>
                <textarea rows="6"></textarea>
            </span>
            <span class="biginput">
                <label>Характеристики товара</label>
                <textarea rows="6"></textarea>
            </span>
       
        <div id="button"><button>Добавить</button></div>
    </div>

</div>
<div class="pic">
    <div id="smallcat"></div>
</div>