<div>
    <span>
        <h1>Учебные пособия / Товары ></h1>
        <h2 routerLink="/addproduct">+ добавить</h2>
        <!--button id="plus" class="buttontable" ></button-->
    </span>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Тэги</th>
                <th>Характеристики</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Учебник английского языка для технических университетов и вузов</td>
                <td>500</td>
                <td>
                    <div class="tag">
                        <ul>
                            <li>иностранный язык</li>
                            <li>english</li>
                            <li>учебник</li>
                            <li> английский язык</li>
                        </ul>
                    </div>

                </td>
                <td>
                    <div class="char">
                        <ul>

                            <li>Авторы: И.В. Орловская, Л.С. Самсонова, А.И.Скубриева</li>
                            <li>Издание: шестое, стереотипное</li>
                            <li>Издательство: МГТУ им. Н.Э. Баумана 2006</li>
                            <li>Страниц: 448</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="buttons">
                        <button id="del" class="buttontable"></button>
                        <button id="red" class="buttontable"></button>
                    </div>
                </td>

            </tr>
            <!--tr>
                <td>Товар 2</td>
                <td>Цена</td>
                <td>
                    <div class="tag">
                        <ul>
                            <li>тэг 1</li>
                            <li>тэг 2</li>
                        </ul>
                    </div>

                </td>
                <td>
                    <div class="char">
                        <ul>
                            <li>характеристика 1</li>
                            <li>характеристика 2</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="buttons">
                        <button id="del" class="buttontable"></button>
                        <button id="red" class="buttontable"></button>
                    </div>
                </td>


            </tr-->
        </tbody>
    </table>
</div>