<app-shapka></app-shapka>
<h1 id="id">Проекты</h1>
<div class="bigdiv">
    <div class="div">
        <span >
            <h1>Домен: example.com</h1>
        </span>
        <div class="mindiv">
            <button type="button" routerLink="/primer">Посмотреть сайт</button>
            <button type="button" routerLink="/constructor">Редактировать сайт</button>
            <button type="button" routerLink="/listcatalog">Каталоги</button>
            <button type="button" routerLink="/users">Управляющие</button>
            <button type="button">Удалить проект</button>
        </div>
    </div>
    <span routerLink="/selectdomen">
        <h1 style="font-size: 200%; cursor: pointer;margin-top: 10px;">+ cоздать новый</h1>
    </span>
</div>